{% extends "panel/base.html" %}


{% block title %} - Inicio{%endblock title%}
	
{% block content %}
<div class="row">
<div class="col-md-6">
	<!-- BEGIN Portlet PORTLET-->
	<div class="portlet light bg-inverse">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-puzzle font-red-flamingo"></i>
				<span class="caption-subject bold font-red-flamingo uppercase">
				Viewer </span>
				<span class="caption-helper">Difusión & Uso</span>
			</div>
			<div class="tools">
				<a class="collapse" href="">
				</a>				
			</div>
		</div>
		<div class="portlet-body">
			<h4>Prototipo funcional</h4>
			<p>
				 Esta herramienta es un prototipo funcional desarrollada para vuasualizar los resultados de un proceso completo de extracción de conocimientos en base de datos. La aplicación es el complemento de una investigación para optar por el título de Máster en Cubernética Aplicada. El objetivo primario de la investigación es detectar anomalías en datos de vuelo.
			</p>
		</div>
	</div>
	<!-- END GRID PORTLET-->
</div>
<div class="col-md-6">
	<!-- BEGIN Portlet PORTLET-->
	<div class="portlet light bg-inverse">
		<div class="portlet-title">
			<div class="caption">
				<i class="icon-puzzle font-blue-flamingo"></i>
				<span class="caption-subject bold font-red-flamingo uppercase">
				Procesamiento </span>
				<span class="caption-helper">de los datos</span>
			</div>
			<div class="tools">
				<a class="collapse" href="">
				</a>				
			</div>
		</div>
		<div class="portlet-body">
			<h4>Minería de datos</h4>
			<p>
				 Los datos de vuelo que se muestran en este visor han sido analizados con técnicas de agrupamiento de implementadas en Knime. Esta herramienta facilitó las actividades que involucran el preprocesamiento y el minado de datos, permitiendo almacenar los resultados en base de datos. Esta síntesis del análisis es lo que puede consultarse en el Viewer.
			</p>
		</div>
	</div>
	<!-- END GRID PORTLET-->
</div>
</div>
<div class="note note-success">
	<p>
		 El proyecto puede ser descargado en: <a target="_blank" href="#">
		Github</a>. 
	</p>
</div>
{% endblock content%}

